* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.8;
  background-color: #344a72;
  color: #fff;
}
.container {
  margin: 60px auto;
  max-width: 400px;
  height: 100%;
}

a {
  text-decoration: none;
}

.form_wrap {
  background-color: #fff;
  color: #333;
  padding: 20px 35px;
}

.form_wrap h1,
p {
  text-align: center;
}

.form_group {
  margin-top: 15px;
}

.form_group_label {
  display: block;
}

.form_group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form_wrap button {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #37a08e;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.form_wrap button:hover {
  background-color: #aad7d1;
  color: #333;
}

.form_wrap .bottom_text {
  margin-top: 20px;
  font-size: 13px;
}

footer {
  text-align: center;
  margin-top: 10px;
}

.logIn {
  text-decoration: none;
  color: #37a08e;
  font-weight: 500;
  padding-left: 5px;
  font-size: 1.1rem;
}
